/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

/* Reset any borders to 0, allow max-width of 100% so content fills the available space within the widget container (e.g. full width menus and title banners) */

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

a:link, a:visited {
  color: #006fbf;
  text-decoration: none;
  cursor: pointer;
}

/* set font to match D2L Daylight theme (styles taken from Daylight css) */
p {
	font-family: Lato,'Lucida Sans Unicode','Lucida Grande',sans-serif;
	letter-spacing: .01rem;
	line-height: 1.4rem;
	font-size: 17.1px;
	font-weight: 400;
	color: #565a5c;
	margin: 0;
	padding: 12px 0px;
}

/* ---------------
GENERAL FORMATTING
------------------ */

/* American spelling is used for 'center' in line with css properties */
.center {
  text-align: center;
}

.grey {
	background-color: #f2f2f2;
}
/* ------------ */
/* Section Title banner */
/* ------------ */
/* Law school banner background colour */
div.EMAS-primary-colour {
	background-color: #1478c6;
	text-align: center;
}

/* Banner title text */
p.banner-title {
	font-family: Lato,'Lucida Sans Unicode','Lucida Grande',sans-serif;
	letter-spacing: .01rem;
	line-height: 1.4rem;
	font-weight: 400;
	font-size: 1.15rem;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 6px;
}

li.one-column {
	max-width: 100%;
}

/* Law School primary */
li.button {
	display: block;
	font-family: Arial, Sans-Serif;
	background-color: #f8f8f8;
	font-size: 0.95em;
}

ul.button-set {
  list-style-type: none;
  padding: 0 0 28px;
  margin: 0;
}

/* link styles for single-column-button */
/* Law School red */
li.button a {
    display: block;
    color: #1478c6;
    padding: 18px 45px 22px 16px;
    border-top: 4px solid white;
		font-weight: 600;
		height: 2em;
 		line-height: 1em;
 		overflow: hidden;
}



/* Law School red */
li.button a:hover {
	background-color: #1478c6;
	color: #fff;
	transition: background-color 0.4s;
}

.daylight .d2l-widget {
	padding-bottom: 0;
}
